canvas {
	display: block;
	/*max-width: 75vmin;*/
	background-color: #e45e5e;
    width:100%;
}

.container {

	display: block;
	/*max-width: 75vmin;*/
	background-color: #e45e5e;
    width:100%;
		height:8.4rem;
}
